<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
	</head>
	<body>
		<nav>
            links
			<ul>
				<li><a href="{{url_for('home')}}" class="{{'active' if request.path == url_for('home') else ''}}">Home</a></li>
				<li><a href="{{url_for('about')}}" class="{{'active' if request.path == url_for('about') else ''}}">About</a></li>
				<li><a href="{{url_for('contact')}}" class="{{'active' if request.path == url_for('contact') else ''}}">Contact</a></li>
                <li><a href="{{url_for('subpage')}}" class="{{'active' if request.path == url_for('subpage') else ''}}">Subpage</a></li>
			</ul>
		</nav>
		{% block content %}{% endblock %}
        <footer>
            <p>&copy; 2025 My Website</p>
	</body>
</html>
