{% extends "base.html" %} {% block content%}
<h1>Hello</h1>

<div>
	<h3>Chatlog</h3>
	<div id="chatlog" class="messages"></div>
</div>

<form>
	<label for="message">Message:</label>
	<input type="text" id="message" name="text" placeholder="type your mesage" /><br />
	<input type="submit" value="send" />
</form>

<script>
	const socket = io()
	var username = prompt("Enter your name:")
	socket.emit("join", username)

	socket.on("user_connected", () => {
		console.log("annother user conected")
	})

	socket.on("message", function (data) {
		console.log(`message: ${data}`)
		var chatlog = document.getElementById("chatlog")
		p = document.createElement("p")
		p.innerText = data
		chatlog.appendChild(p)
	})

	addEventListener("submit", function (event) {
		event.preventDefault()
		var messageInput = document.getElementById("message")
		var message = messageInput.value
		socket.emit("message", message)
		messageInput.value = ""
	})
</script>
{% endblock %}
