<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}My Website{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li><a href="{{url_for('bob')}}">Bob's Tools</a></li>
				<li><a href="{{url_for('login')}}">Login</a></li>
				<li><a href="{{url_for('profile')}}">Profile</a></li>
				<li><a href="{{url_for('view_users')}}">Users</a></li>
			</ul>
		</nav>
		{% block content %}{% endblock %}
	</body>
</html>
