<!DOCTYPE html>
<html>
	<head>
		<title>Product Lines</title>
	</head>
	<body>
		<h1>Product Lines</h1>
		<ul>
			{% for line in lines %}
			<li>
				<a href="{{ url_for('products', product_line=line.productLine) }}">{{ line.productLine }}</a>
				- {{ line.textDescription }}
			</li>
			{% endfor %}
		</ul>
		<a href="{{ url_for('employees') }}">Show employees</a><br />
		<a href="{{ url_for('add_employee') }}">Add employee</a><br />
		<a href="{{ url_for('add_product') }}">Add product</a>
	</body>
</html>
